# datasets
dataset_train/
dataset_test_noisy/
test_gt/
results/
experiments/
logs/

# checkpoints
*.ckpt
*.pkl
*.pth
*.pt

# cache
__pycache__/
*.pyc
.cache/
.jittor_cache/
dataset_*.zip
dataset_*.tar.gz
result*.tar.gz
*.log
